<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>js结课项目</title>
    <link rel="stylesheet" href="./css/index.css">
    <link slot="icon" rel="icon" href="./media/x.png" type="image/x-icon">
    <script src="./js/jquery-3.7.0.js" type="text/javascript"></script>
    <script src="./js/jquery-ui-1.13.2.custom/jquery-ui.js" type="text/javascript"></script>
    <script src="./js/typeit-8.7.1.js" type="text/javascript"></script>
    <script src="./js/vue.global.js" type="text/javascript"></script>
</head>

<body>
    <div id="showToash"></div>
    <script src="./js/oneko.js" type="text/javascript"></script>
    <div id="topBar">
        <div id="logo">
            <img src="./media/x_0f0.png" height="100%" alt="logo">
        </div>
        <div id="nav">
            <ul id="proul">
                <li><a id="proindex" href="#">首页</a></li>
                <li><a id="procart" href="#">购物车</a></li>
                <li><a id="proabout" href="#">关于</a></li>
            </ul>
        </div>
        <div id="login">
            <a href="#">登录</a>
            <a href="#">注册</a>
        </div>
        <canvas id="canvas"></canvas>
    </div>
    <div id="lore">
        <div id="login_box" class="formdiv">
            <text>登录</text>
            <input type="text" class="username" placeholder="请输入用户名">
            <input type="password" class="password" placeholder="请输入密码">
            <div class="pwd_level"></div>
            <button class="login">登录</button>
        </div>
        <div id="register_box" class="formdiv">
            <text>注册</text>
            <input type="text" class="username" placeholder="请输入用户名">
            <input type="password" class="password" placeholder="请输入密码">
            <div class="pwd_level"></div>
            <button class="register">注册</button>
        </div>
    </div>
    <div id="webCon">
        <div id="goodsPage" class="webCon_div">
            <div id="goodsPage_for">
                <div class="goods_list" v-for="(goods_item, index) in goodsList" :key="index"
                    @click="clickgoods(index)">
                    <image class="goods_list_img" :src="goods_item.img" alt="商品图片"></image>
                    <text class="goods_list_id" :id="'goodsList-' + goods_item.id"></text>
                </div>
            </div>
            <div id="goods_detail">
                <image id="goods_datail_exit" @click="pageChange" src="./media/left-c.png" alt="退出"></image>
                <div class="goods_top">
                    <div class="goods_top_left">
                        <div id="goods_top_left_bigImg">
                            <image id="goods_top_left_bigImg_img" class="goodsimg" :src="goodsList[clickIndex].img"
                                alt="商品图片"></image>
                        </div>
                        <div id="goods_top_left_ImgList">
                            <div class="imageshowlist"
                                v-for="(thisimage, image_index) in goodsList[clickIndex].imgList">
                                <image class="goodsimg" :src="thisimage.img"
                                    @click="changeBigImg(clickIndex, image_index)"></image>
                            </div>
                        </div>
                    </div>
                    <div class="goods_top_right">
                        <div class="goodsname">{{goodsList[clickIndex].name}}</div>
                        <div class="goodsprice">￥ {{goodsList[clickIndex].price}}</div>
                        <a class="goodslink" :href="goodsList[clickIndex].webLink">网页链接</a>
                        <hr width="100%">
                        <div class="buy">
                            <input type="number" id="buycount" min="1" max="100" placeholder="1" value="1">
                            <button id="buybutton" @click="addcart">加入购物车</button>
                        </div>

                        <div class="evaluation">
                            <div>
                                <div>商品评价</div>
                                <div></div>
                            </div>
                            <div id="showeva">
                                <div class="showeva_div" v-for="(eva, eva_ind) in goodsList[clickIndex].evaluation">
                                    <div class="showeva_div_star">
                                        <!-- eva.star是多少,就画几个星星 -->
                                        评分: <image v-for="star in eva.star" src="./media/star.png" alt="星星"></image>
                                    </div>
                                    <div class="showeva_div_con">{{eva.content}}</div>
                                </div>
                            </div>
                            <div class="writeeva">
                                <input class="writeeva_e" type="number" id="evastar" min="1" max="5" placeholder="星">
                                <input class="writeeva_e" type="text" id="evacontent" placeholder="请输入评价内容"
                                    style="flex: 1">
                                <button class="writeeva_e" id="eva" @click="addeva">提交评价</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="cartPage" class="webCon_div">
            <div>
                <div> ☆ 购物车</div>
                <div>
                    <!-- <div id="showtotalcartinfo">总计{{buylist.lenght}}条订单,共{{}}元</div> -->
                    <button id="paybutton" @click="paybutton">立即购买</button>
                </div>
            </div>
            <div>
                <div class="cartPage_goods_for" v-for="(buyitem, buyindex) in buylist">
                    <!-- {{test}} -->
                    <div class="cartPage_goods">
                        <div class="cartPage_goods_img">
                            <image class="cartPage_goods_img_img" :src="buyitem.shopping.img" alt="商品图片"></image>
                        </div>
                        <div class="cartPage_goods_mid">
                            <div class="cartPage_goods_min_name">{{buyitem.shopping.name}}</div>
                            <div class="cartPage_goods_min_price">
                                <div class="cartPage_goods_price">单价: ￥ {{buyitem.shopping.price}}</div>
                                <div class="cartPage_goods_count">
                                    <button class="cartPage_goods_count_ele"
                                        @click="changenum('dec', buyindex)"> < </button>
                                    <input class="cartPage_goods_count_ele" type="number" min="1" max="100"
                                        v-model="buyitem.num">
                                    <button class="cartPage_goods_count_ele"
                                        @click="changenum('add', buyindex)"> > </button>
                                </div>
                                <div class="cartPage_goods_total">总价: ￥ {{buyitem.prices.toFixed(2)}}</div>
                            </div>
                        </div>
                        <div class="cartPage_goods_right">
                            <div class="cartPage_goods_del" @click="delcart(buyindex)">删除</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div id="aboutPage" class="webCon_div"></div>
    </div>
</body>


<script src="./js/goodsPage.js" type="text/javascript"></script>
<script src="./js/index_tool.js" type="text/javascript"></script>
<script src="./js/index_topBar_game.js" type="text/javascript" defer></script>
<script src="./js/index.js" type="text/javascript" defer></script>

</html>